<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="AAD.TenantId" value="tenant-name" />
    <add key="AAD.ClientId" value="application-id" />
    <add key="AAD.Resource" value="https://graph.microsoft.com" />
    <add key="AAD:UserEmail" value="user-email-address" />
    <add key="AAD:UserPassword" value="email-password" />
  </appSettings>
</configuration>